@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Student"]</p>

<address>
    <strong>More information: </strong><a href="http://educandoweb.com.br" target="_blank">Educandoweb.com.br</a>
</address>